.homeContent {
  min-height: 100px;

  &__image {
    min-height: 500px;
    background-image: url(../img/building.jpeg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
}
