.nav {
  min-height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__link {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
}
